# General settings for the parsers
LOG = True
TIMEOUT = 5
OVERWRITE = True

# Directory paths
LOG_PATH = "logs/"
INPUT_PATH = "files/"
OUTPUT_PATH = "markdown/"
NAV_OUTPUT_PATH = "nav/"
WILD_ENCOUNTER_PATH = "wild_encounters/"

# Data paths
ABILITY_INPUT_PATH = "data/abilities/"
ITEM_INPUT_PATH = "data/items/"
MOVES_INPUT_PATH = "data/moves/"
POKEMON_INPUT_PATH = "data/pokemon/"